<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Authing.Library" version="0.0.23" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net48" />
  <package id="Fody" version="6.6.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net48" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net48" />
  <package id="Polly.Net40Async" version="5.9.0" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="3.4.1" targetFramework="net48" />
</packages>